{{ define "main" }}

<!-- enrolment form -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <h2 class="section-title">{{ i18n "enrolment" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "8528143",
            formId: "393cfb4e-d7fb-44f8-bea9-4fec79af891b"
          });
          </script>
      </div>
    </div>
  </div>
</section>
<!-- /enrolment form -->

{{ end }}