{{ define "main" }}

<!-- enrolment form -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
        <script>
            hbspt.forms.create({
            portalId: "8528143",
            formId: "ea163ade-558f-4ba1-adee-e1d10098519c"
          });
        </script>
      </div>
    </div>
  </div>
</section>
<!-- /enrolment form -->

{{ end }}