<!-- footer -->
<footer>
  <!-- newsletter -->
  <!-- footer content -->
  <!-- copyright -->
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-sm-center text-center">
          <p><b>Frequently Asked Questions</b></p>
          <p>Email and Chat. Chat is live and available during most daytime hours. We're also an email away if you want to reach out to us directly.</p>
          <p><b>WHAT ARE THE PAYMENT OPTIONS?</b></p>
          <p>All review fees are payable in US Dollar or in Philippines Peso only, by either, PayPal, Credit/Debit Card/International Bank Transfer/GCash. Please contact us for the details. 
          <br/>If being transferred by somebody else, it is very important to quote the student's name. Please inform the Enrolment Office when a transfer has been made.</p>
          <p><b>IS TEST PREP WORTH THE INVESTMENT?</b></p>
          <p>It's absolutely worth it! Our test prep is personalised and based on your strengths, challenges and learning style. Do not repeat other mistakes taking the exam without professional guidance and ended up repeating the exam again and again, which would cost you so much more!</p>
          <p><b>HOW THE HOURS ARE BROKEN UP?</b></p>
          <p>While a typical LIVE classes and tutoring session is an hour to two hours long, we will work with you to meet your learning style and scheduling needs. Students usually meet once or twice a week depending on their schedule. For every hour of tutoring, you should expect at least an hour of practice test or assignment.</p>
          <p><b>WHAT IS INCLUDED WITH A COURSE PROGRAMME?</b></p>
          <p>All review materials are all inclusive with the fees.</p>
          <p><b>WHEN IS THE 50% DISCOUNT PROMO ENDS?</b></p>
          <p>March 08, 2021 – 11:59pm</p>

          <p class="mb-0">{{ site.Params.copyright | markdownify }}</p>
          <p class="mb-0">{{ site.Params.copyright2 | markdownify }}</p>
          <br/>
          <p class="mb-0">{{ site.Params.copyright3 | markdownify }}</p>
          <br/>
          <br>
          <p class="mb-0">{{ site.Params.copyright4 | markdownify }}</p>
          <br/>
          <p class="mb-0">{{ site.Params.copyright5 | markdownify }}</p>
          <br/>
          <p class="mb-0">{{ site.Params.copyright6 | markdownify }}</p>
          <br/>
          <p class="mb-0">{{ site.Params.copyright7 | markdownify }}</p>
          <br/>
        </div>
        <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/ph/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/ph/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/PP_AcceptanceMarkTray-NoDiscover_243x40.png" alt="Buy now with PayPal" /></a></td></tr></table><!-- PayPal Logo -->
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with site.Params.google_analitycs_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}