<div class="card p-0 border-primary rounded-0 hover-shadow">
    <img class="card-img-top rounded-0" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
    <div class="card-body">
      <ul class="list-inline mb-2">
        <li class="list-inline-item">Price: <i class="ti-wallet"></i> {{ .Params.Fee }}</li>
      </ul>
      <h4 class="card-title"><a href="{{ .Params.Buynow_url | safeURL }}">{{ .Title }}</a></h4>
      <p class="card-text mb-4">{{ .Summary | truncate 100 }}</p>
      <a href="{{ .Params.Buynow_url | safeURL }}" class="btn btn-primary btn-sm">{{ i18n "buynow"}}</a>
    </div>
  </div>